.main-footer {
    text-align: center;
    background-color: #1B1B1B;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .social-media {
    padding-bottom: 15px;
  }
  
  .social-media li {
    display: inline-block;
  }
  
  .social-media a {
    padding: 10px;
    font-size: 34px;
    color: #fff !important;
  }
  
  .social-media a:hover {
    color: #f95252 !important;
  }