html, body {
  height: 100%;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F6F6F6;
  color: #4c4c4c;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

.site-wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 150px;
}

.site-content {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, ul {
  padding: 0;
  margin: 0;
}

a {
  color: #f95252;
}

hr {
  color: #4c4c4c;

}

::selection {
  color: white;
  background: #4c4c4c;
}